.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.header__right {
  display: flex;
  align-items: center;
}

.header__left {
  flex: 0.4;
  min-width: 180px;
  display: flex;
  background-color: white;
  padding: 10px;
  border-radius: 30px;
  color: gray;
  align-items: center;
}
.header__button {
  border: none;
  border-radius: 4px;
  width: 100px !important;
}
.header__left > input {
  border: none;
  outline: none;
  width: 100%;
}

.header__right > h4 {
  margin-left: 10px;
}
