.artists__container {
  overflow-x: overlay;
  overflow-y: hidden;
  display: flex;
}
.album__container {
  display: flex;
  flex-wrap: wrap;
}
::-webkit-scrollbar {
  display: none;
}
.artists__head {
  padding-left: 15px;
}
.artists__generes {
  color: gray;
  display: flex;
  flex-wrap: wrap;
}
.artists__generes > p {
  padding-right: 4px;
  overflow: hidden;
}
.artists__block,
.album__block {
  padding: 15px;
  border-radius: 6px;
  width: 210px;
  height: 320px;
  margin: 20px;
  background: #282828;
}
.artists__block:hover,
.album__block:hover {
  opacity: 0.7;
  transition: transform 500ms;
  transition-delay: 200ms;
  transform: scale(0.98);
}
.artists__block > img,
.album__block > img {
  width: 210px;
  height: 210px;
  margin-bottom: 10px;
}
