.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0.18;
  padding-left: 10px;
  padding-right: 10px;
  min-width: 230px;
  height: 100vh;
  color: white;
  background-color: #000;
  overflow-y: overlay;
}
@media only screen and (max-width: 600px) {
  .sidebar {
    display: none;
  }
}
.sidebar__title {
  margin-left: 10px;
  padding: 5px;
  font-size: 12px;
}

.sidebar__logo {
  margin-right: auto;
  object-fit: contain;
  height: 70px;
  padding: 10px;
}
